/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


/* Variables */

/* Overall */

html {
    scroll-behavior: smooth;
  
}

body {
    background-color:#0F1A3C;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family:'Roboto Condensed';
    font-weight: 100;
}

body.dark{
    background-color: #eaeaea;
    color: #1d1d1d; 
}


/* Typography */ 
h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

p {

}

a {
    color:white;
}
/* Logo */
#logo {
    position:fixed;
    top: 24px;
    left: 40px;
    font-size: 32px;
}

/* Nav */
#nav {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
}

#nav a {
    color: white;
}

#nav li {
    display:inline-block;
    font-size: 24px;
    margin-right: 40px;
    line-height: 100px;
}

#nav li:hover{
    color:cyan;
    transform: scale(1.1);
    border-bottom: 3px solid cyan;
    background-color: blue;
    margin-right: 60px;
    transform: rotate(45deg);
    transition-duration: 500ms;
    cursor: pointer;
}

/* Page Layout */
.section{
    min-height: 100vh;
}

.section img{
    width: 100%;
    border-radius: 30px;
}

.section img:hover{
    transform: scale(1.05);
    opacity: 0.6;
    transition-duration: 500ms;
    cursor: pointer;
}

#heroText {
    top: 50vh;
    margin-top: 40vh;
}

#hero {
    padding-top: 50px;
}

#bio{
    background-image: url('../images/bio-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.caseStudy{
    background-color: red;
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
}

.card {
    height: 400px;
    width: 400px;
    background-color:blue;
    border-radius: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.card .card-image img {
    border-radius: 25px 25px 0 0;
}

.card-image {
    border-radius: 25px 25px 0 0;
}

.card-content {
    border-radius: 25px 25px 0 0;
}

.card-title {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 400px;
    color: blue;
}


.btn {
    background-color:blue;
    border-radius: 75px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0px 5px navy;
}

.btn:hover {
    /* transform: rotate(180deg); */
    background-color: blueviolet;
    /* margin-left: 60px; */
}


.gimmick {
    background-image: url('../images/hero-bg.svg');
    background-size: cover;
    position: absolute;
    height: 800px;
    width: 800px;
    top: calc(50vh - 400px);
    left: calc(50vw - 400px);
    animation-name: spin;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg) scale(1);
    }
    to {
      transform: rotate(360deg) scale(2);
    }
  }